name: generate animation

on:
  schedule:
    - cron: "0 0 * * *" # to run at midnight UTC (every 24 hours) 
 
  # Allow manual triggering of the workflow
  workflow_dispatch:

  # push to main branch
  push:
    branches:
      - main
      
jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions: 
      contents: write 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # generate snake anims 
      - name: Generate GitHub Contributions Snake Animations
        uses: Platane/snk@v3
        with:

          # GitHub username to generate the animation for
          github_user_name: ${{ github.repository_owner }}


          # Define output files and configs

          outputs: |

            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      # deploy newly generated files to ouput branch
      
      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          commit_message: "Update snake anim"
